body{
    background-color: rgb(209, 194, 243);
}
h1{
    text-align: center;
}

.navigation ul{
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.333);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.navigation li{
    float: left;
}

