body{
    background-color: rgb(209, 194, 243);
    margin: 0px;
}

h1{
    text-align: center;
}

.navigation ul{
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.333);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navigation a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navigation a:hover{
    background-color: rgba(224, 224, 224, 0.838);
}

.navigation li{
    float: left;
}

a:link, a:visited {
    color: blue;
    text-decoration: underline;
    cursor: auto;
  }
  
a:link:active, a:visited:active {
    color: blue;
  }

div{
    text-decoration: dashed;
}

.grey{
    color: darkgrey;
}

span{
    color: darkgrey;
}

#love{
    color: crimson;
}